html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}


/* company logo and title for header and footer */

.company {
  display: flex;
  align-items: center;
}

.company img {
  height: 1.5rem;
  width: auto;
  padding-right: 1rem;
}

.company span {
  display: none;
}


/* header */

header {
  height: 17rem;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: 20%;
}

.header-bar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: cadetblue;
}

header .company {
  padding-left: 2rem;
  padding-right: 1rem;
}

.menu-button {
  padding: 1rem 2rem 1rem 0;
}

nav {
  display: none;
}

h1 {
  position: relative;
  top: 12rem; /* header-bar + 5rem */
  padding: 1rem 0;
  margin: 0;
  background-color: white;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}


/* main */

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.77rem;
}


/* first gallery - items are figures */

figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  margin: 0;
}

figure img {
  max-width: 4.5rem;
  height: auto;
  padding-top: 1.54rem;
  padding-bottom: 0.77rem;
}

.first-image {
  width: 3.5rem;
  height: auto;
  padding-top: 0;
}

figcaption {
  font-size: 0.77rem;
  text-align: center;
}


/* second gallery - items are text-blocks */

h2 {
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-align: center;
  background-color: cadetblue;
}

p {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 4rem;
  font-size: 0.77rem;
}


/* footer */

footer {
  display: flex;
  justify-content: center;
  background-color: azure;
}

footer .company {
  padding: 4rem;
}


/* adaptions for larger screens */

/* enough space to display navigation bar */

@media only screen and (min-width: 650px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 22rem;
    background-position: 35%;
  }
  .company span {
    display: block;
  }
  nav {
    display: block;
  }
  nav ul {
    margin: 0;
    padding: 0;
  }
  nav li {
    display: inline-block;
    padding: 1rem 2rem 1rem 0;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  .menu-button {
    display: none;
  }

  h1 {
    align-self: flex-end;
    display: inline-block;
    top: 8rem; /* header-bar + 5rem */
    right: 1rem; /* 2rem is too much at this point */
    height: 2rem;
    width: auto;
    padding: 0.75rem 2rem; /* 4rem is too much at this point */
    font-size: 1.33rem;
  }

  .gallery {
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    padding: 0;
  }

  figure {
    padding: 3rem;
  }

  .gallery-item {
    width: 35%;
    padding: 2.5%;
  }

  h2 {
    display: inline-block;
    width: 10rem;
    padding: 0.5rem 1.25rem;
    text-align: left;
  }

  footer .container {
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-start;
  }
}

/* point where the actually designed header padding is good */
@media only screen and (min-width: 750px) {
  h1 {
    right: 2rem;
    padding: 0.75rem 4rem;
  }
}

/* for widths larger than 960 px a container is needed */
@media only screen and (min-width: 960px) {
  header {
    height: 31rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 960px;
    margin: 0 auto;
  }
  .header-bar {
    position: absolute;
    top: 1rem;
    width: 960px;
    align-self: center;
  }
  h1 {
    top: 14rem; /* 1rem + header-bar + 10rem */
    height: 3rem;
    padding: 1.5rem 5rem;
    font-size: 2rem;

  }
}
